:root {
  background-color: #ffffff;
  /* background-color: #f6e9e9; */
  /* background-color: #bb8493; */
  /* background-color: #704264; */
  /* background-color: #49243E; */
  /* background-color: #DBAFA0; */
}
body {
  display: flex;
  justify-content: center; /* horizontally center content */
  align-items: center; /* vertically center content */
  min-height: 100vh; /* to ensure content fills the viewport height */
  margin: 0;
}

.footer-info {
  background-position: center;
  position: relative;
}

#social-list {
  display: grid;
  width: 200px;
  height: 100px;
  gap: 10px;
}

.social-link {
  display: grid;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #753f65;
  border-radius: 5px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.social-link:hover {
  background-color: #a46894;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 3px solid #875177;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.main-info {
  text-align: center; /* center text content inside main-info */
}

#name-info {
  background-color: #eeafaf;
  margin: 100px;
  padding: 20px;
  border-radius: 10px;
  color: black;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
