:root {
  background-color: #fff3e4;
}

* {
  font-family: "Vollkorn", serif;
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.footer-info {
  background-position: center;
  position: relative;
}

#social-list {
  display: grid;
  width: 200px;
  height: 100px;
  gap: 10px;
}

.social-link {
  display: grid;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #6b4f4f;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.social-link:hover {
  background-color: #483434;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(227, 24%, 15%);
}

.image {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 3px solid #483434;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.main-info {
  text-align: center;
}

#name-info {
  background-color: #eed6c4;
  margin: 100px;
  padding: 20px;
  border-radius: 50px;
  border: 2px solid #e6c0a3;
  color: #3c353a;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
