:root {
  background-color: #bb8493;
  /* background-color: #704264; */
  /* background-color: #49243E; */
  /* background-color: #DBAFA0; */
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 100px 100px 100px 100px;
  background-color: #a87683;
  border-radius: 30px;
}

#body-info {
  /* display: grid; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

.footer-info {
  background-position: center;
  position: relative;
}

#social-list {
  display: grid;
  width: 200px;
  height: 100px;
  gap: 10px;
}

#social-link {
}

.social-link {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff; /* Change to your desired color */
  border-radius: 5px;
  text-align: center;
}

.social-link:hover {
  background-color: #0056b3; /* Change to your desired hover color */
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
